<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.Springboot.mapper.SearchHistMapper">

	<select id="histCount" resultType="int">
		SELECT COUNT(*)
		FROM hist_search
	</select>
	
	<select id="LastHist" resultType="com.Springboot.vo.HistSearch">

	SELECT *
		from (
			SELECT * 
			FROM hist_search
			order by  create_date desc
		)WHERE <![CDATA[  ROWNUM <= 1 ]]> 
			
	</select>



	
	<insert id="insertSearchHist" parameterType="String">
		insert into hist_search(username,keyword, create_date)
		values(#{username},#{keyword}, now())
		
	</insert>



</mapper>