<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.Springboot.mapper.UserMapper">

	<select id="readUserInfo" resultType="com.Springboot.vo.User">
		SELECT * FROM users WHERE username = #{username}
	</select>
	<select id="readAuthority" parameterType="String"
		resultType="String">
		SELECT authority_name FROM authority WHERE username = #{username}
	</select>
      
    <insert id="createUsers" parameterType="String">
        insert into users(
            username, password
        )
        values(
            #{username},#{password} 
        )
   </insert>

      
    <insert id="createUserAuthority" parameterType="String">
        insert into authority(
            username, authority_name
        )
        values(
            #{username},'USER' 
        )
   </insert>
</mapper>